@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'grotesk';
  src: url('https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayRoman.woff');
}
body {
  font-family: 'grotesk', sans-serif;
}

.abstract-fade {
  animation: fade-in 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
