@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'grotesk';
  src: url('https://fonts.cdnfonts.com/s/47998/NeueHaasDisplayRoman.woff');
}
body {
  font-family: 'grotesk', sans-serif;
  background: black;
  overflow-x: hidden;
}

#video {
  width: 100vw;
}

.abstract-fade {
  animation: fade-in 2s;
}
.short-abstract-fade {
  animation: fade-in 1s;
}
.shortest-abstract-fade {
  animation: fade-in 0.8s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
